# Python
__pycache__/
*.py[cod]
.venv/
venv/
env/

# Jupyter
.ipynb_checkpoints/

# Dados brutos e processados locais
# As bases de trabalho não devem ser versionadas.
data/raw/*.xlsx
data/processed/*.xlsx

# Arquivos temporários
.DS_Store
*.tmp
*.log

# Arquivos locais de ambiente
.env
